################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GESTION_DES_INVENTAIRES-.slnx/FileContentIndex
/.vs
/Mystore/Mystore/bin/Debug/net10.0
/Mystore/Mystore/obj
/Mystore/Mystore.Droid/obj
/Mystore/Mystore.WinUI/obj
/MyStoreData/obj
/Mystore/Mystore.WinUI/bin/x64/Debug/net10.0-windows10.0.19041.0/win-x64
/MyStoreData/bin/Debug/net10.0
